/* Base */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.text-black {
  color: #000; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out !important;
  -o-transition: 0.2s all ease-in-out !important;
  transition: 0.2s all ease-in-out !important;
  top: 0;
  letter-spacing: .05em; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000; }
  .btn.btn-sm {
    font-size: 14px !important;
    padding: 10px 20px !important; }
  .btn.btn-primary {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .2em; }
  .btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -2px; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }
    
.site-section .container .link-to-join {
	text-decoration: none;
	text-align: center;
	margin-top: 30px; }

.site-section .container .link-to-search {
	text-decoration: none;
	text-align: center;
	margin-top: 30px; 
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative; }
  .site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #7971ea; }
  .site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #7971ea; }

.border-top {
  border-top: 1px solid #edf0f5 !important; }

.site-footer {
  padding: 4em 0; 
  background-color: beige; }
  .site-footer ul li {
    margin-bottom: 10px; }
    .site-footer ul li a {
      color: #5c626e; }
      .site-footer ul li a:hover {
        color: #7971ea; }
  .site-footer .footer-heading {
    font-size: 20px;
    color: #25262a; }

/* Navbar */
.site-navbar {
  position: relative;
  background: #fff;
  margin-bottom: 0px;
  z-index: 1999; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar .site-navbar-top {
    border-bottom: 1px solid #f3f3f4;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px; }
    @media (min-width: 768px) {
      .site-navbar .site-navbar-top {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .site-navbar .site-logo a {
    text-transform: uppercase;
    color: #25262a;
    letter-spacing: .2em;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 10px; 
    
    }
    .site-navbar .site-logo a:hover {
      text-decoration: none; }
  .site-navbar a {
    color: #868995; }
    .site-navbar a:hover {
      color: #3d3f45; }
  .site-navbar .icon {
    font-size: 20px; }
  .site-navbar .site-top-icons ul, .site-navbar .site-top-icons ul li {
    padding: 0;
    margin: 0;
    list-style: none; }
  .site-navbar .site-top-icons ul li {
    display: inline-block; }
    .site-navbar .site-top-icons ul li a {
      margin-right: 10px; }
      .site-navbar .site-top-icons ul li a.site-cart {
        display: block;
        position: relative; }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
  	/* position: fixed; */
  	/*8.4*/
  	list-style: none;
  	justify-content: space-between;
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a {
      color: #7971ea; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      font-size: 15px;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 10px;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: #25262a;
        font-size: 17px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #7971ea; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #7971ea;
        -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          font-size: 16px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #7971ea !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f4f5f9;
              color: #25262a; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children a {
        text-transform: uppercase; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #7971ea; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }
          
/* 모바일 */
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 40px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #25262a; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase;
        color: #25262a;
        letter-spacing: .2em;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid #25262a; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #7971ea; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #7971ea; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "FontAwesome";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .site-blocks-cover, .site-blocks-cover .row {
    min-height: 652.94px;
   max-height: 652.94px;
   height: calc(100vh - 174px); }
  .site-blocks-cover h1 {
    font-size: 30px;
    font-weight: 900;
    color: #000; }
    @media (min-width: 768px) {
      .site-blocks-cover h1 {
        font-size: 50px; } }
  .site-blocks-cover p {
    color: #333333;
    font-size: 20px;
    line-height: 35px; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }


.site-blocks-1 {
  border-bottom: 1px solid #edf0f5; }
  .site-blocks-1 .divider {
    position: relative; }
    .site-blocks-1 .divider:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: 10px;
      background: #edf0f5; }
    .site-blocks-1 .divider:last-child:after {
      display: none; }
  .site-blocks-1 .icon span {
    position: relative;
    color: #7971ea;
    top: -10px;
    font-size: 50px;
    display: inline-block; }
  .site-blocks-1 .text h2 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px; }
  .site-blocks-1 .text p:last-child {
    margin-bottom: 0; }


.site-blocks-mid {
  border-bottom: 1px solid #edf0f5; }
  .site-blocks-mid .divider {
    position: relative; }
    .site-blocks-mid .divider:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: 10px;
      background: #edf0f5; }
    .site-blocks-mid .divider:last-child:after {
      display: none; }
  .site-blocks-mid .icon span {
    position: relative;
    color: #7971ea;
    top: -10px;
    font-size: 50px;
    display: inline-block; }
  .site-blocks-mid .text h4 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px; }
  .site-blocks-mid .text p:last-child {
    margin-bottom: 0; }


.site-blocks-2 .block-2-item {
  display: block;
  position: relative; 
  outline: none;  /*8.6Bong*/
  border: none;
  
  
  }
  .site-blocks-2 .block-2-item:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  .site-blocks-2 .block-2-item .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden; }
    .site-blocks-2 .block-2-item .image img {
      margin-bottom: 0;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
  .site-blocks-2 .block-2-item .text {
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    position: absolute;
    width: 100%; }
    .site-blocks-2 .block-2-item .text > span, .site-blocks-2 .block-2-item .text h3 {
      color: #fff; }
    .site-blocks-2 .block-2-item .text > span {
      font-size: 12px;
      letter-spacing: .1em;
      font-weight: 900; }
    .site-blocks-2 .block-2-item .text h3 {
      font-size: 40px; }
  .site-blocks-2 .block-2-item:hover .image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.block-3 .owl-stage {
  padding-top: 40px;
  padding-bottom: 40px; }

.block-3 .owl-nav {
  position: relative;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .block-3 .owl-nav .owl-prev, .block-3 .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #5c626e; }
    .block-3 .owl-nav .owl-prev:hover, .block-3 .owl-nav .owl-next:hover {
      color: #25262a; }
    .block-3 .owl-nav .owl-prev.disabled, .block-3 .owl-nav .owl-next.disabled {
      opacity: .2; }

.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff; }
  .block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0; }
    .block-4 .block-4-text h3 a {
      text-decoration: none; }

.block-5 ul, .block-5 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5; }

.block-5 ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  color: #25262a; }
  .block-5 ul li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #7971ea; }
  .block-5 ul li.address:before {
    content: "\e8b4"; }
  .block-5 ul li.email:before {
    content: "\f0e0"; }
  .block-5 ul li.phone:before {
    content: "\f095"; }

.block-6 {
  display: block; }
  .block-6 img {
    display: block; }
  .block-6 h3 {
    font-size: 18px; }
  .block-6 p {
    color: #737b8a; }

.block-7 .form-group {
  position: relative; }

.block-7 .form-control {
  padding-right: 96px; }

.block-7 .btn {
  position: absolute;
  width: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3px; }

.block-8 .post-meta {
  color: #c4c7ce; }

.block-8 .block-8-sep {
  margin-left: 10px;
  margin-right: 10px; }

.site-blocks-table {
  overflow: auto; }
  .site-blocks-table .product-thumbnail {
    width: 200px; }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px; }
  .site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529; }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #7971ea !important; }

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important; }

.site-block-order-table td, .site-block-order-table th {
  color: #000; }

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0; }

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px; }
  .site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc; }
  .site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #7971ea;
    color: #fff;
    border: 1px solid transparent; }

#slider-range {
  height: 8px; }
  #slider-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none !important;
    background: #7971ea; }
    #slider-range .ui-slider-handle:focus, #slider-range .ui-slider-handle:active {
      outline: none; }
  #slider-range .ui-slider-range {
    background-color: #7971ea; }

.color-item .color {
  width: 14px;
  height: 14px; }

.block-16 figure {
  position: relative; }
  .block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: none; }
    .block-16 figure .play-button:hover {
      opacity: 1; }
    .block-16 figure .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
      transform: translate(-50%, -45%); }

.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300; }

.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .1em; }

.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px; }

table .item-size-span {
	border: none;
	border-radius: 0.4em;
	text-align: center;
	background-color: grey;
	font-size: 12pt; 
	color: white;
	height: 1.6em;
	margin: 0.1em; 
	padding-left: 6px;
	padding-right: 6px}

div .look-color-btn {
	display: inline-block;
	border: 0.1px solid grey;
	height: 23px;
	width: 23px;
	border-radius: 0.2em;
	margin-left: 0.5em;
}
.other-item-color {
	display: flex;
	padding: 0;
}
.other-item-color .image-bundle {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
}
.other-color {
	margin-bottom: 0;
}
.other-item-color .image-bundle .other-img img {
	padding-left: 15px;	
	width: 100px;
}
.item-left-container {
	width: 120px;
	margin-right: 10px;
	text-align: left;
}	
.item-right-container {
	width: 280px;
	text-align: right;
	padding-right: 10px;
}

.item-right-container .input-group {
	float: right;
}

.total-price-span {
	position: relative;
	float: right;
	padding-right: 30px;
}

.item-right-container .size-seletor {
	width: 100px;
	text-align: center;	
	border-radius: 0.2em
}

.filter-search-btn {
	position: relative;
	float: right;
}

/* 상품 정보, 후기, 댓글 목록(버튼)*/
.item-service {
	display: flex;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.item-service li {
	list-style: none;
	align-items: center;
}

.view-btn, .review-btn, .question-btn {
	text-align: center;
	font-size: 20pt;
	color: white;
  	letter-spacing: 0.3em;
	border: 0;
	border-radius: 0.3em; 
	background-color: #7971ea;
  	transition: 0.2s all ease-in-out !important;
  	-webkit-transition: 0.2s all ease-in-out !important;
  	-o-transition: 0.2s all ease-in-out !important;
  	top: 0;
  	padding-left: 11px;
  	
}

.view-btn:hover, .review-btn:hover, .question-btn:hover{
 	-webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -1px;
}

.view-btn:focus, .review-btn:focus, .question-btn:focus {
	outline: none;	
}


/* 상품 정보 */
.item-info-container {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
	border-color: transparent 0.3;
	
}
.item-info {
		
}
/* 상품 후기 */
.review-container, .comment-container {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
	margin-bottom: 20px;
}
.single-review-wrapper {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
}
.single-review .first-row {
	display: flex;
	text-align: left;
	line-height: 2em;
}
.first-row .star {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
}
.first-row .title {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
}
.first-row .writer {
	font-size: 10pt;
}
.first-row .date {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
	font-size: 10pt;
	text-align: right;
}
.single-review .second-row .review {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
	height: 100px;
	overflow: auto;
	padding: 8px;
}
.single-review .third-row {
	border: 1px solid #5c626e;
	border-radius: 0.5em;
	display: flex;
}
.single-review .third-row .review-photo-wrapper {
	padding: 8px;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.single-review .third-row .review-photo-wrapper img {
	width: 150px;	
}
.forth-row {
	text-align: right;
}
.forth-row .update-btn, .forth-row .delete-btn {
	border: 0;
	border-radius: 0.5em;
	outline: 0;
	background-color: aqua;
	width: 7em;
}
.forth-row .update-btn:hover, .forth-row .delete-btn:hover {
	color: #fff;
	background-color: #5a50e5;
	border-color: #4f45e3
}
.create-review {
	text-align: right;
}
.create-review .create-review-btn {
	border: 0;
	border-radius: 0.5em;
	outline: 0;
	background-color: aqua;
	width: 7em;
}
.create-review .create-review-btn:hover {
	color: #fff;
	background-color: #5a50e5;
	border-color: #4f45e3
}

/* 상품 후기 작성란 */
.review-write-form {
	border: 1px solid black;
	border-radius: 0.5em;
}
.review-input {
	width: 100%;
	height: 100px;
}
.review-submit {
	margin-top: 30px;
	text-align: right;
}
.cancel-btn {
	border: 0;
}
.cancel-btn:focus {
	outline: none;
}

/* 상품 댓글 */
.single-comment-wrapper {
	clear: both;
	border: 1px solid grey;
	border-radius: 0.5em;
	color: black;
}
.single-comment {
	display: flex;
	text-align: center;
	font-size: 10pt;
}
.comment-writer, .comment-content, .comment-date, .comment-code {
	border: 1px solid grey;	
	border-radius: 0.5em;
	line-height: 2em;
}
.comment-content {
	text-align: left;
	font-weight: bold;
}
.insert-recomment, .update-comment, .delete-comment {
	font-size: 8pt;
	text-align: right;
}
.edit-comment {
	font-size: 8pt;
	text-align: right;
}
.edit-comment button {
	border: 0;
	background-color: transparent;
  	text-transform: uppercase;
  	position: relative;
  	-webkit-transition: 0.2s all ease-in-out !important;
  	-o-transition: 0.2s all ease-in-out !important;
  	transition: 0.2s all ease-in-out !important;
  	top: 0;
  	letter-spacing: 0.1em; }
.edit-comment button:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -1px; }
.edit-comment button:focus {
	outline: none;
}
.balloon-wrapper {
	padding-left: 80px;
}
.balloon {  
	position:relative;
 	background:pink; 
 	border-radius: 0.5em;
 	font-size: 8pt;
	text-align: center;
 	line-height: 1.5em;
 	display: flex;
}
.balloon:after { 
 border-top: 0px solid transparent; 
 border-left: 10px solid transparent; 
 border-right: 10px solid transparent; 
 border-bottom: 10px solid pink; 
 content:"";
 position:absolute;
 top:-10px;
 left:40px;  
}
.recomment-form {
	border: 1px solid grey;
	border-radius: 0.5em;
	display: flex;
}
.recomment-input {
	border-radius: 0.3em;
}
.recomment-btn {
	border-radius: 0.3em;
	text-align: right;
	border: 0;
	background-color: grey;
  	position: relative;
  	-webkit-transition: 0.2s all ease-in-out !important;
  	-o-transition: 0.2s all ease-in-out !important;
  	transition: 0.2s all ease-in-out !important;
  	top: 0;
  	letter-spacing: 0.1em; 
}
.recomment-btn:hover {
	-webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -1px;
}
.recomment-btn:focus {
	outline: none;
}

/* 마이페이지 */
.mypage-box-left {
	display: inline-block;
	width: 40%;
	margin-left: 10px;
	text-align: left;
}
.mypage-box-right {
	display: inline-block;
	width: 40%;
	margin-left: 10px;
	text-align: right;
}

.review-btn {
	border: 0;
	outline: 0;
	background-color: transparent;
}

.question-btn {
	border: 0;
	outline: none;
	background-color: transparent;		
}

.ghost-btn{
	background-color: rgba(0,0,0,0);
	color: #5c626e;
	padding: 5px;
	border: 0px;
	outline: none;
	cursor: pointer;
	margin-right: 5px;
	
}

.ghost-btn:hover{
	color: #5a50e5 !important;
	
}

.ghost-btn:focus {
	outline: none;
}

.allShop{
	color:#5c626e;
	margin-left:5px;
}

.allShop:hover{
	color: #5a50e5 !important;
	
}

/* 8.4 Bong */
.saleDeco{ 
	color: #5a50e5;
	text-decoration: line-through;
}

.salePrice{
	color: #8e44ad;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

.discount {
	position: absolute;
	display: inline-block;
	background-color: #FF3636;
	color: white;
	top: 5px;
	margin-left: 10px;
	height: 30px;
	text-align: center;
	right: 6%;
	
	
}
.dis_p {
	margin: 5px;
	font-size: 14px;
	width: 45px;
}
/* end 8.4 Bong*/


/*회원가입 관련*/


input.reborder { border: 1px solid red }		/* 입력조건에 따라 테두리 색 바꾸는 클래스  / submit 할 시 사용됨 */

pre{
 	overflow: scroll; 
 	white-space: pre-wrap; 
	width: 700px;
	height: 200px;
	border: 1px solid;
}

article.on{ display: block; }

article{ display: none; }


/*8.6 Bong*/
.term{
	color: black; 
	overflow:scroll; 
	width:500px; 
	height:220px;
	margin-bottom: 20px;
}

.termCheck{
	margin-top: 10px;
}


/* 8.10 추가분*/

/* 마이페이지 */
.mypage-box-left {
	display: inline-block;
	width: 40%;
	margin-left: 10px;
	text-align: left;
}

.mypage-box-right {
	display: inline-block;
	width: 40%;
	margin-left: 10px;
	text-align: right;
}

/* 07.31 */
.cart-table-head {
	text-align: center;
}

.discount-minus {
	color: red;
}

.payment-method {
	display: block;
}

.chk-info {
	font-size: 10pt;
	color: grey;
}

/* 08.03 */
.board_wrapper {
	margin: auto;
	color: black;
	font-weight: bold;
	padding: 0;
}
.board_noti, .board_head, .board_list {
	list-style: none;
	width: 100%;
	margin: auto;
}
.board_noti {
	background-color: #fff;
}
.board_head {
	border-bottom: 2px solid gray;
	padding-bottom: 1em;
}
.board_list {
	font-weight: normal;
}
.board_noti li, .board_head li, .board_list li {
	display: flex;	
}
.b_num {
	width: 10%;
}
.board_noti .b_title, .board_list .b_title {
	padding-left: 1em;
	text-decoration: none;
	text-align: left
}
.b_title {
	width: 55%;
}
.b_writer {
	width: 15%;
}
.b_date {
	width: 13%;
}
.b_views {
	width: 7%;	
}
.comment_count {
	font-style: normal;
	font-size: 10pt;
	color: gray;
}
.text-purple {
	color: #7971ea;
}
.post-comtent {
	margin: auto;
	font-weight: normal;
}
.post-comment {
	text-align: right;
}
.board-image-viewer {
	margin-top: 1em;
	margin-bottom: 0.5em;
	width: 300px;
}
.board-image-viewer img {
	max-width: 100%
}
.input-c-writer {
	width: 100%
}
.input-c-context {
	width: 100%
}
.comment-submit {
	width: 100%
}

/* 08.04 */
.w_post_head_cate, .w_post_head_title, .w_post_head_content {
	text-align: center;
	color: black;
	line-height: 2.2em;
	font-weight: bold;
}
.w_p_input_title {
	width: 100%;
}
.w_p_input_content {
	width: 100%;
	height: 500px;
	resize: none;
}

.view_p_writer_head, .view_p_title_head, .view_p_content_head, .view_p_img_head {
	text-align: center;
	color: black;
	line-height: 2.2em;	
	font-weight: bold;
	padding-left: 5px;
}
.view_p_date_head {
	text-align: center;
	color: black;
	line-height: 2.2em;	
	font-weight: bold;
	padding-left: 15px;
}
.view_p_writer, .view_p_date, .view_p_title, .view_p_content {
	text-align: left;
	color: black;
	line-height: 2.2em;
	border: 1px solid gray;
	border-radius: 0.3em;
	height: 35px;
}
.view_p_content {
	resize: vertical;
	min-height: 300px;
}
.attached_img_con {
	max-width: 200px;
	max-height: 200px;
}
.attached_img_con img {
	width: 100%;
}
.right-bar {
	border-right: #7971E9;
    border-right-style: outset;
    border-right-width: 0.1em;
}
.input_c_writer, .input_c_content {
	padding-right: 5px;
}
.input_c_content {
	text-align: justify;
	width: 100%;
	height: 150px;
}
.update_comment {
	text-align: right;
	font-size: 10pt;
	padding-top: 0px;
}
.update_comment .modify_comment, .update_comment .delete_comment {
	text-decoration: underline;
	color: #7971ea;
}
.post_comment_content span {
	margin-right: 5px;
}
.modify_comment_btn {
	background-color: transparent;
	outline: none;
	border: none;
	color: #7971ea;
	text-decoration: underline;
	padding: 0;
}
.modify_comment_btn:focus {
	outline: none;
	border: none;
}
.check-cate div {
	padding-top: 4px;
}
.cursor_p {
	cursor: pointer;
}
.select_search_option {
	position: relative;
	display: block;
	margin-top: 50px; 
}
.btn_move_top {
/* 	display:none; */
	position:fixed;
	bottom:60px;
	right:250px;
	z-index:1999;
	border:1px solid #ccc;
	outline:none;
	background-color: transparent;
	color:#333;
	cursor:pointer;
	padding:13px;
	border-radius: 1em;
}
.btn_top_icon {
	width: 30px;
}

/* modal */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2000;
}
.modal_content {
	background-color: #fefefe;
	margin: 12% auto;
	padding: 20px;
	padding-top: 0;
	border: 1px solid #888;
	width: 500px;
}
.modal_content_search {
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 100%;
}
.close_btn {
	color: #aaa;
	float: right;
	font-size: 38px;
	font-weight: bold;
}
.close_btn:hover, .close_btn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal-bg {
	border-radius: 0.2em;
	background-color: #EAEAEA;
	margine: 5px;
}

/* 08.09 양의진*/
.con_cate_bg  {
   background: rgb(6, 0, 45);
   background: #f6f6f5;
}

.item_main_display {
   border-radius: 5%;
}
.intro_headline {
   padding-bottom: 50px;
   text-align: center;
   color: black;
}
.intro_headline p {
   font-size: 15pt;
}

/* 08.12 양의진 */
.item_info_btn {
   width: 100%;
   background: #a29bfe;
   color: #fff;
   border: none;
   position: relative;
   height: 60px;
   font-size: 1.6em;
   padding: 0 2em;
   cursor: pointer;
   transition: 800ms ease all;
   outline: none;
}

.item_info_btn:hover {
   background: #fff;
   color: #7971ea;
}

.item_info_btn:before, .item_info_btn:after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   height: 2px;
   width: 0;
   background: #7971ea;
   transition: 400ms ease all;
}

.item_info_btn:after {
   right: inherit;
   top: inherit;
   left: 0;
   bottom: 0;
}

.item_info_btn:hover:before, .item_info_btn:hover:after {
   width: 100%;
   transition: 800ms ease all;
}
.item_info_btn:focus {
   outline: 0;
   border: 0;
}

/*08.12 Bong*/
.link-to-search{
	text-align: center;
	
}



.displayInline{
	display: inline-block;
}


/* 게시판 관련 css */
.board-table {
	width: 824px;
	border: 1px solid #C3C3C3;
}
.board-text_result {
	margin-top: 20px;
	margin-bottom: 20px;
}
.board-rightMenu {
	margin-top: 20px;
	float: right;
}
.board-noticeNum {
    width: 6%;
    margin-top: 3px;
}
.board-title {
	left: 0;
    text-align: left;
    padding-left: 20px;
    width: 45%;
    font-weight: bolder;
    margin-top: 3px;
}
.board-writer {
    width: 10%;
    margin-top: 3px;
}
.board-type {
    width: 10%;
    margin-top: 3px;
}
.board-registDate {
    width: 13%;
    margin-top: 3px;
}
.board-re {
	width: 7%;
    margin-top: 3px;
}
.board-select {
	color: #B1B1B1;
	border: 1px solid #B1B1B1;
	font-size: 14px;
}
.board-option {
	color: black;
}
.board-search {
	margin-left: 2px;
}
.board-search2 {
	margin-right: 2px;
}
.board-sort {
	float: right;
}
.board-sortMenu {
	border-radius: 0.25rem;
}
ul, li { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
ul.board-myMenu > li { 
	display: inline-block; 
	width: 90px;
	padding: 5px 10px; 
	background-color: #7971EA; 
	text-align: center; 
	position: relative;
	color: white;
	font-weight: 500;
}
ul.board-myMenu > li:hover { 
	background: #6610f2;
	cursor: pointer;
	color: white;
}
ul.board-myMenu > li:hover > ul.board-subMenu {
	color: black;
	font-weight: 400;
}
ul.board-myMenu > li ul.board-subMenu { 
	display: none; 
	position: absolute; 
	top: 37px; 
	left: 0; 
}
ul.board-myMenu > li:hover ul.board-subMenu { 
	display: block; 
}
ul.board-myMenu > li ul.board-subMenu > li { 
	display: inline-block; 
	width: 80px; 
	padding: 5px 10px; 
	background: #7971EA; 
	color: white;
	text-align: center;
}
ul.board-myMenu > li ul.board-subMenu > li:hover {
	background: #6610f2; 
}
.board-sortbutton {
	border: none;
	background: transparent;
	color: white;
	cursor: pointer;
}
.board-paging-span {
	font-weight: bolder;
	font-size: 17px;
}
.board-paging-span:hover {
	color: #3F0099;
}
.board-paging-span2 {
	font-weight: 900;
	font-size: 22px;
	color: #3F0099;
}
.board-list {
	cursor: pointer;
	color: #747474;
}
.board-list:hover {
	color: #3F0099;
	font-weight: 900;
	font-size: 17px;
}
.board-list2 {
	font-weight: 900;
	color: black;
	cursor: pointer;
}
.board-list2:hover {
	color: #3F0099;
	font-weight: 900;
	font-size: 18px;
}
.board-btn2 {
	width: 120px;
}
.board-btn3 {
	width: 130px;
}
.board-input {
	border: none;
	background: white;
	color: #7971EA;
}
.board-input:hover {
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

/* 게시판 새 글 쓰기 관련 css */
.boardWrite-table {
	width: 830px;
}
.boardWrite-table-th1 {
	width: 100px;
}
.boardWrite-span {
	color: black;
	font-weight: 900;
	margin-left: 10px;
}
.boardWrite-label {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.boardWrite-input-text {
	margin: 10px 0px 10px 15px;
	border: 0.5px solid #D5D5D5;
}
.boardWrite-textarea {
	margin: 15px 0px 15px 15px;
	resize: none;
}
.boardWrite-input-file {
	margin: 10px 0px 10px 15px;
}
.boardWrite-rightMenu {
	margin-top: 15px;
	margin-left: 350px;
}
.boardWrite-right-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardWrite-right-btn:hover {
	background-color: #8041D9;
}
.boardWrite-left-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardWrite-left-btn:hover {
	background-color: #8041D9;
}

/* 게시판 글 읽기 및 수정/삭제 관련 css */
.boardRead-table {
	width: 700px;
}
.boardRead-table-th1 {
	width: 100px;
}
.boardRead-write-span {
	color: black;
	font-weight: 900;
	margin-left: 10px;
}
.boardRead-write-span2 {
	color: #7B7B7B;
	font-weight: 900;
	margin-left: 10px;
}
.boardRead-rightMenu {
	margin-top: 15px;
	margin-left: 250px;
}
.boardRead-rightMenu2 {
	margin-top: 15px;
	margin-left: 300px;
}
.boardRead-right-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardRead-right-btn:hover {
	background-color: #8041D9;
}
.boardRead-center-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardRead-center-btn:hover {
	background-color: #8041D9;
}
.boardRead-left-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardRead-left-btn:hover {
	background-color: #8041D9;
}
.boardRead-img {
	margin-left: 10px;
	height: 200px;
	width: 200px;
}
.boardRead-span:hover {
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
}
.boardRead-btn2 {
	width: 120px;
	text-align: center;
	cursor: pointer;
	height: 35px;
}
.boardRead-comment {
	margin-bottom: 20px;
}
.boardRead-span-reply {
	color: black;
	font-weight: 700;
	font-size: 25px;
	margin-left: 50px;
	margin-bottom: 20px;
}
.boardRead-reco-writer {
	width: 100px;
	margin-right: 10px;
}
.boardRead-form {
	margin-top: 20px;
}
.boardRead-paging-span {
	font-weight: bolder;
	font-size: 17px;
}
.boardRead-paging-span:hover {
	color: #3F0099;
}
.boardRead-paging-span2 {
	font-weight: 900;
	font-size: 22px;
	color: #3F0099;
}
.boardRead-board {
	border: 1px solid silver;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 0.5rem;
	height: 570px;
}


/* 게시글 수정 관련 css */
.boardUpdate-table {
	width: 830px;
}
.boardUpdate-table-th1 {
	width: 100px;
}
.boardUpdate-write-span {
	color: black;
	font-weight: 900;
	margin-left: 10px;
}
.boardUpdate-label {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.boardUpdate-input-text {
	margin: 10px 0px 10px 15px;
	border: 0.5px solid #D5D5D5;
}
.boardUpdate-textarea {
	margin: 15px 0px 15px 15px;
	resize: none;
}
.boardUpdate-input-file {
	margin: 10px 0px 10px 15px;
}
.boardUpdate-rightMenu {
	margin-top: 15px;
	margin-left: 350px;
}
.boardUpdate-right-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardUpdate-right-btn:hover {
	background-color: #8041D9;
}
.boardUpdate-left-btn {
	background-color: #AD8EDB;
	color: white;
}
.boardUpdate-left-btn:hover {
	background-color: #8041D9;
}


/* 후기 관련 css */
.shopSingle-writer {
	color: black;
	font-weight: 900;
}
.shopSingle-registDate {
	color: black;
	font-weight: 900;
}
.shopSingle-review {
	color: black;
	font-weight: 900;
}
.shopSingle-paging-span {
	font-weight: bolder;
	font-size: 17px;
}
.shopSingle-paging-span:hover {
	color: #3F0099;
}
.shopSingle-paging-span2 {
	font-weight: 900;
	font-size: 22px;
	color: #3F0099;
}
.shopSingle-reviewlist {
	border: 1px solid black;
	margin-bottom: 20px;
	border-radius: 0.4rem;
	padding: 10px;
}
.shopSingle-no {
	font-weight: 700;
	font-size: 18px;
}
.shopSingle-merchan-infor:hover {
	cursor: pointer;
	border: 1px solid black;
	background-color: #6610f2;
}
.shopSingle-review-con:hover {
	cursor: pointer;
	border: 1px solid black;
	background-color: #6610f2;
}
.shopSingle-comment-con:hover {
	cursor: pointer;
	border: 1px solid black;
	background-color: #6610f2;
}
.shopSingle-button2 {
	border: 0;
	border-radius: 0.3rem;
	margin-top: 10px;
	outline: none;
	background: #00D8FF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px; 
}
.shopSingle-button2:hover {
	background: #8041D9;
	cursor: pointer;
	color: white;
	outline: none;
	border: 0;
}
.shopSingle-btn {
	color: black;
}
.shopSingle-btn:hover {
	color: white;
}


/* 댓글 관련 css */
.reviewRead-writer {
	color: black;
	font-weight: 900;
}
.reviewRead-registDate {
	color: black;
	font-weight: 900;
}
.reviewRead-review {
	color: black;
	font-weight: 900;
}
.reviewRead-reco-writer {
	display: inline-block;
	width: 80px;
	margin-right: 10px;
}
.reviewRead-reco-writer2 {
	display: inline-block;
	width: 750px;
}
.reviewRead-btn2 {
	width: 100px;
}
.reviewRead-paging-span {
	font-weight: bolder;
	font-size: 17px;
}
.reviewRead-paging-span:hover {
	color: #3F0099;
}
.reviewRead-paging-span2 {
	font-weight: 900;
	font-size: 22px;
	color: #3F0099;
}
.reviewRead-reviewlist {
	border: 1px solid black;
	margin-bottom: 20px;
	border-radius: 0.4rem;
	padding: 10px;
}
.reviewRead-replybutton {
	color: blue;
	border: none;
	background: white;
}
.reviewRead-replybutton:hover {
	cursor: pointer;
}
.reviewRead-replywriter {
	margin-left: 15px;
	width: 100px;
}
.reviewRead-replycontext {
	margin-left: 15px;
	width: 760px;
}
.reviewRead-replysubmit {
	margin-left: 15px;
	width: 100px;
}
.reviewRead-btn-folder {
	color: blue;
}
.reviewRead-btn-folder:hover {
	cursor: pointer;
}
.reviewRead-replyUpdateSubmit {
	border: none;
	background-color: white;
	color: blue;
}
.reviewRead-replyUpdateSubmit:hover {
	cursor: pointer;
}
.reviewRead-inputReplyUpdate {
	border: 1px solid silver;
}
.reviewRead-reviewsUp-writer {
	border: 1px solid silver;
	width: 200px;
}
.reviewRead-reviewsUp-context {
	border: 1px solid silver;
	width: 950px;
	height: 80px;
}
.reviewRead-input {
	margin-left: 90%;
	background: #00D8FF;
	border-radius: 0.3rem;
}
.reviewRead-input:hover {
	background: #6610F2;
	color: white;
}





 /* 08.18 */
.profile_pic_wrapper {
   text-align: center;
   vertical-align: middle;   
}
.profile_pic_wrapper img {
   max-width: 150px;
   max-height: 220px;
   border-radius: 3em;
}
.profile_name {
   font-size: 30pt;
   font-weight: 400;
   letter-spacing: 0.3em;
}
.profile_detail {
   padding: 0;
}
.profile_detail li {
   list-style: none;
   font-size: 17pt;
   font-family: sans-serif;
   line-height: 1.35em;
}


/* 08.12 양의진 */
.item_info_btn {
   width: 100%;
   background: #a29bfe;
   color: #fff;
   border: none;
   position: relative;
   height: 60px;
   font-size: 1.6em;
   padding: 0 2em;
   cursor: pointer;
   transition: 800ms ease all;
   outline: none;
}

.item_info_btn:hover {
   background: #fff;
   color: #7971ea;
}

.item_info_btn:before, .item_info_btn:after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   height: 2px;
   width: 0;
   background: #7971ea;
   transition: 400ms ease all;
}

.item_info_btn:after {
   right: inherit;
   top: inherit;
   left: 0;
   bottom: 0;
}

.item_info_btn:hover:before, .item_info_btn:hover:after {
   width: 100%;
   transition: 800ms ease all;
}

.item_info_btn:focus {
   outline: 0;
   border: 0;
}











